.mainMain{
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgba(247, 247, 247, 0.8);
  border-radius: 1.25em;
  box-sizing: border-box;
  width: 77.5em;
}

.logement {
  display: flex;
  flex-direction: column;
  margin-top: 1.15em;
  padding: 1em 1.15em;
  height: 21.25em;
  width: 21.25em;
  border-radius: 1.25em;
  img{
    display: flex;
    object-fit: cover;
    height: 21.25em;
    width: 21.25em;
    border-radius: 1.25em;
  }
  h3 {
    display: flex;
    margin: 0;
    font-size: 0.75em;
    color: white;
    opacity: 1;
    position: relative;
    bottom: 3.5em;
    left: 0.5em;
  }

}