.aPropos{
    display: flex;
    justify-content: center;
}

.mainApropos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0 1em 0;
    width: 77.5em;
}



.boutonApropos {
    display: flex;
    flex-direction: column;
    width: 75%;
    border-radius: 0.5em;
    padding: 0;
}    
.pawouet {
        display: flex;
        background-color: rgba(255, 96, 96, 1);
        color: white;
        margin-bottom: 0.5em;
        justify-content: space-around;
        width: 100%;
        border-radius: 0.5em;
        padding: 0;
    h3 {
        display: flex;
        width: 90%;
    }
    button {
        display: flex;
        background-color: rgba(255, 96, 96, 1);
        color: white;
        border: none;
        align-items: center;
    }
}
.collapseApropos {
    padding: 0 1.125em;
    overflow: hidden;
    p {
        color: black;
    }
}