.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    div{
      display: flex;
    }
    img{
      width: 7.625em;
      margin: 1em;
      padding: 1em;
    }
    p{
      color: white;
      font-size: 1.5em;
      width: 100%;
      margin: 1em;
      padding: 1em;
      text-align: center;
    }
  }