.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    img{
      width: 100%;
      margin: 1em;
      padding: 1em;
    }
    p{
      color: white;
      width: 100%;
      margin: 1em;
      padding: 1em;
      text-align: center;
    }
  }