@import "myColor";

.footer {
    @include display-column;
    flex-wrap: wrap;
    background-color: black;
    margin-top: 2em;
    div{
      display: flex;
    }
    img{
      width: 7.625em;
      margin: 1em;
      padding: 1em;
    }
  }
.footer_p {
  display:flex;
  width: 50%;
  justify-content: center;
  p{
    color: white;
    font-size: 1.5em;
    margin: 0;
    padding: 0.5em;
    text-align: center;
  }
}