@import "myColor";

.mainMain{
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgba(247, 247, 247, 0.8);
  border-radius: $myBorderRadius;
  box-sizing: border-box;
  width: 77.5em;
}

.logement {
  display: flex;
  flex-direction: column;
  margin: 1.2em 0em 1em 0em;
  padding: 1em 1.15em;
  @include card-logement;

  img{
    display: flex;
    object-fit: cover;
    @include card-logement;
  }
  h4 {
    display: flex;
    margin: 0;
    color: white;
    opacity: 1;
    position: relative;
    bottom: 3.5em;
    padding-left: 0.7em;
    width: 17em;

  }

}