@use "carousel";
@use "details";

.Main_LogementDetail {
    display: flex;
    justify-content: center;
}
.Carousel_Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}